@model Cv_App.Core.Models.CvModel

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CvTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CvTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalData.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalData.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalData.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalData.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalData.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalData.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Educations)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Degree</th>
                    <th>Specialization</th>
                    <th>School</th>
                    <th>Duration</th>
                </tr>
                @foreach (var item in Model.Educations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Degree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.School)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkExperiences)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Job title</th>
                    <th>Company</th>
                    <th>Duration</th>
                    <th>Job Description</th>
                </tr>
                @foreach (var item in Model.WorkExperiences)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        @foreach (var item in Model.Properties)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Text)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
